.mapWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.currentLocationButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.currentLocationButton:hover {
  background-color: #0056b3;
}