.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;

  position: sticky;
  top: 0;
  background: white; // 다른 컨텐츠 비치지 않도록
}

@media (max-width: 1210px) {
  .searchWrapper {
    flex-direction: column;
    align-items: end;
  }
}