@import '../../App.module';

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(243, 243, 243);
  padding: 0.375rem 0.75rem;
  border-radius: 1rem;
}

.starsContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.starFilled {
  fill: map-get(map-get($colorPalette, woodAndPlant), green);
}

.starEmpty {
  fill: rgb(209, 213, 219);
}

.ratingValue {
  font-size: map-get(map-get($description, font-size), desktop);
  color: map-get($description, color);
  font-weight: 500;
  line-height: map-get($description, line-height);
}

@media (max-width: 1210px) {
  .ratingValue {
    font-size: map-get(map-get($description, font-size), tablet);
  }
}

@media (max-width: 1210px) {
  .starsContainer {
    display: none;
  }
}